.form {
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 4px;

  label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
  }

  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #722ed1;
    color: white;
    border: none;
    cursor: pointer;
  }
}
.op-modal {
.modal-header {
  display: flex; align-items: center; justify-content: space-between;
  padding: 5px 0px 0 0px!important;
  border-bottom: 1px solid #e5e5e5!important;
  border-left: 0!important;
  border-right: 0!important;
  border-top: 0!important;
  h3 { margin: 0; font-size: 1.1rem; font-weight: 700; color: #212529; }
}
}