<h2 mat-dialog-title>
  {{ data ? 'Edit Operator' : 'Create Operator' }}
</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-dialog-content class="dialog-body">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Operator Code *</mat-label>
      <input matInput formControlName="operator_code">
      <mat-error *ngIf="form.get('operator_code')?.errors?.['required']">
        Operator Code is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Operator Name *</mat-label>
      <input matInput formControlName="operator_name">
      <mat-error *ngIf="form.get('operator_name')?.errors?.['required']">
        Operator Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Skill Level</mat-label>
      <input matInput formControlName="skill_level">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Shift *</mat-label>
      <mat-select formControlName="shift_id">
        <mat-option *ngFor="let s of shifts" [value]="s.id">
          {{ s.shift_name }} ({{ s.start_time }} - {{ s.end_time }})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('shift_id')?.errors?.['required']">
        Please select a shift.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Machines</mat-label>
      <mat-select multiple formControlName="machine_ids">
        <mat-option *ngFor="let m of machines" [value]="m.id">
          {{ m.machine_serial_no }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle formControlName="is_active">
      Active
    </mat-slide-toggle>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>

    <button mat-flat-button color="primary" type="submit" [disabled]="saving">
      {{ data ? 'Update Operator' : 'Create Operator' }}
    </button>
  </mat-dialog-actions>

</form>