<div class="min-h-screen flex bg-gray-100 dark:bg-neutral-900">

  <!-- Dark mode toggle -->
  <button (click)="toggleDark()" class="absolute top-6 right-6
  w-10 h-10 flex items-center justify-center
  rounded-lg
  bg-white dark:bg-neutral-800
  border border-gray-200 dark:border-neutral-700
  shadow-sm hover:scale-105 transition">

    <!-- Sun -->
    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="isDark" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
    </svg>

    <!-- Moon -->
    <svg *ngIf="!isDark" class="w-5 h-5 text-gray-700 dark:text-gray-200" fill="currentColor" viewBox="0 0 24 24">
      <path d="M21 12.79A9 9 0 1111.21 3
7 7 0 0021 12.79z" />
    </svg>

  </button>


  <!-- LEFT CAROUSEL -->
  <div class="hidden lg:flex w-1/2 relative justify-center overflow-hidden pt-24 md:pt-4">

    <div class="absolute inset-0
    bg-gradient-to-bl
    from-[#C5404A]
    via-[#5E3C79]
    to-[#4A2FA0]">
    </div>

    <div>

      <div class="relative w-full">

        <div class="flex transition-transform duration-700 ease-out"
          [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">

          <div *ngFor="let slide of slides" class="w-full flex-shrink-0 text-white select-none">

            <div class="relative flex justify-center">

              <div class="absolute w-96 h-96
              bg-white rounded-full blur-[120px]
              opacity-40
              top-1/2 left-1/2
              -translate-x-1/2 -translate-y-1/2">
              </div>

              <img [src]="slide.image" class="relative mb-10 mx-auto pointer-events-none">

            </div>


            <div class="max-w-md mx-auto px-6 md:-mt-4">
              <h1 class="text-5xl md:text-3xl font-bold mb-4">
                {{slide.title}}
              </h1>

              <div class="w-12 h-1 bg-white mb-6 rounded"></div>

              <p class="text-white/80">
                {{slide.desc}}
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>


    <!-- indicators -->

    <div class="absolute bottom-32 md:bottom-5 left-40 flex gap-3">

      <div *ngFor="let slide of slides; let i=index" (click)="goToSlide(i)" class="w-3 h-3 rounded-full cursor-pointer"
        [ngClass]="currentSlide === i ? 'bg-white' : 'bg-white/40'">
      </div>

    </div>

  </div>



  <!-- RIGHT FORM -->

  <div class="flex flex-1 items-center justify-center px-6">

    <div class="w-full max-w-md">


      <!-- logo -->

      <img src="/images/logo/STM_Mexa_logo.svg" class="mb-8 dark:hidden" />

      <img src="/images/logo/STM_Mexa_logo.svg" class="mb-8 hidden dark:block" />


      <h2 class="text-2xl font-semibold
      text-gray-800 dark:text-white mb-2">

        Forgot Password

      </h2>


      <p class="text-gray-500 dark:text-gray-400 mb-6">

        Enter your email and we will send reset link

      </p>



      <!-- form -->

      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">


        <div>

          <label class="text-sm text-gray-600 dark:text-gray-300">

            Email

          </label>


          <input type="email" formControlName="email" placeholder="Enter your email" class="w-full mt-1 px-4 py-3 rounded-lg border
            border-gray-300
            dark:border-neutral-700
            bg-white dark:bg-neutral-800
            text-gray-800 dark:text-white
            focus:ring-2 focus:ring-indigo-500
            outline-none"
            [class.border-red-500]="form.get('email')?.invalid && form.get('email')?.touched" />

          <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="mt-1 text-xs text-red-500">
            <span *ngIf="form.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="form.get('email')?.errors?.['email']">Enter a valid email address.</span>
          </div>

        </div>



        <!-- button -->

        <button type="submit" [disabled]="loading" class="w-full btn-primary justify-center py-3 rounded-lg transition">

          {{ loading ? 'Sending...' : 'Send Reset Link' }}

        </button>


      </form>




      <!-- Success Message -->
      <p *ngIf="message" class="text-green-600 text-sm mt-4">
        {{ message }}
        <br>
        <span class="text-gray-500 text-xs">
          Please check your email inbox or spam folder.
        </span>
      </p>

      <p *ngIf="error" class="text-red-500 text-sm mt-4">
        {{ error }}
      </p>

      <!-- back -->

      <div class="text-center mt-6">

        <a routerLink="/login" class="text-[#2f4ac4] hover:underline">

          ← Back to Login

        </a>

      </div>


    </div>

  </div>

</div>