<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
  <div class="bg-white dark:bg-[#0f1c33] w-96 rounded-xl p-6">

    <h3 class="text-lg font-semibold mb-4">
      {{ data ? 'Edit Machine' : 'Create Machine' }}
    </h3>

    <form [formGroup]="form">

      <!-- Machine Name -->
      <input
        formControlName="machine_name"
        placeholder="Machine Name"
        class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]"
      />


      <!-- Axis -->
      <input
        formControlName="axis_model"
        placeholder="Machine Axis Model"
        class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]"
      />

      <!-- Controller -->
      <input
        formControlName="controller_model"
        placeholder="Controller Model"
        class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]"
      />

      <!-- Year -->
      <input
        formControlName="machine_year"
        placeholder="Machine Year"
        class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]"
      />

      <!-- Line -->
      <div class="mb-3">
        <label class="block text-sm mb-1 font-medium">Line</label>

        <select
          formControlName="line_id"
          class="w-full px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]">

          <option [ngValue]="null">Select Line</option>

          <option *ngFor="let l of lines" [ngValue]="l.id">
            {{ l.name }}
          </option>

        </select>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label class="block text-sm mb-1 font-medium">Machine Image</label>

        <input
          type="file"
          accept="image/*"
          (change)="onFileSelect($event)"
          class="w-full text-sm"
        />

        <img
          *ngIf="previewUrl || form.get('image_url')?.value"
          [src]="previewUrl || form.get('image_url')?.value"
          class="mt-2 h-32 w-full object-cover rounded border"
        />
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-3">
        <button
          type="button"
          (click)="close.emit()"
          class="px-4 py-2 bg-gray-300 rounded">
          Cancel
        </button>

        <button
          type="button"
          (click)="save()"
          [disabled]="uploading || isUnchanged"
          class="px-4 py-2 bg-blue-600 text-white rounded">
          {{ uploading ? 'Uploading...' : 'Save' }}
        </button>
      </div>

    </form>

  </div>
</div>