<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
  <div class="bg-white dark:bg-[#0f1c33] w-96 rounded-xl p-6">

    <h3 class="text-lg font-semibold mb-4">
      {{ data ? 'Edit Machine' : 'Create Machine' }}
    </h3>


    <input
      [(ngModel)]="form.machine_name"
      placeholder="Machine Name"
      class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]" />

          <input
      [(ngModel)]="form.axis_model"
      placeholder="Machine Axis Model"
      class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]" />

          <input
      [(ngModel)]="form.controller_model"
      placeholder="Controller Model"
      class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]" />

          <input
      [(ngModel)]="form.machine_year"
      placeholder="Machine Year"
      class="w-full mb-3 px-4 py-2 rounded bg-gray-100 dark:bg-[#12203a]" />


    <div class="flex justify-end gap-3">
      <button (click)="close.emit()" class="px-4 py-2 bg-gray-300 rounded">
        Cancel
      </button>
      <button (click)="save()" class="px-4 py-2 bg-blue-600 text-white rounded">
        Save
      </button>
    </div>

  </div>
</div>
