<div class="p-6 bg-gray-100 dark:bg-[#0b1628] min-h-screen">

  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">Machines</h2>

    <button mat-raised-button color="primary" (click)="openCreate()">
      <mat-icon>add</mat-icon>
      New Machine
    </button>
  </div>

  <!-- 🔍 Search -->
  <mat-form-field appearance="outline" class="w-72 mb-4">
    <mat-label>Search machines</mat-label>
    <input
      matInput
      [(ngModel)]="search"
      (ngModelChange)="onSearch()"
      placeholder="Search....." />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- 📊 Table -->
  <div class="mat-elevation-z2 rounded-lg overflow-hidden bg-white dark:bg-[#0f1c33]">

    <table mat-table [dataSource]="rows" matSort (matSortChange)="onSort($event)">

      <!-- Name -->
      <ng-container matColumnDef="machine_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Machine Name</th>
        <td mat-cell *matCellDef="let r">{{ r.machine_name }}</td>
      </ng-container>

      <!-- Type -->
      <ng-container matColumnDef="axis_model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Machine Axis Model</th>
        <td mat-cell *matCellDef="let r">{{ r.axis_model }}</td>
      </ng-container>

      <!-- controller_model -->
      <ng-container matColumnDef="controller_model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Controller Model</th>
        <td mat-cell *matCellDef="let r">{{ r.controller_model }}</td>
      </ng-container>

            <!-- controller_model -->
      <ng-container matColumnDef="machine_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Machine Year</th>
        <td mat-cell *matCellDef="let r">{{ r.machine_year }}</td>
      </ng-container>


      <!-- Status -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let r">
          <mat-slide-toggle
            color="primary"
            [checked]="r.is_active"
            (change)="toggle(r)">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let r">
          <button mat-icon-button color="primary" (click)="openEdit(r)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- ❌ No Data -->
    <div *ngIf="rows.length === 0" class="p-6 text-center text-gray-400">
      No machines found
    </div>

    <!-- 📄 Pagination -->
    <mat-paginator
      [length]="total"
      [pageSize]="limit"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPage($event)">
    </mat-paginator>

  </div>

  <app-machine-form
    *ngIf="showForm"
    [data]="editData"
    (close)="showForm=false"
    (saved)="onSaved()">
  </app-machine-form>

</div>
