// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
}


body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #000;
  color: var(--mat-sys-on-surface);
  // font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-bl from-[#C5404A] via-[#5E3C79] to-[#4A2FA0] text-gray-900 bg-no-repeat font-ubuntu dark:text-white transition-colors duration-300;
}

.bg-wrapper {
  min-height: 100vh;
  background: linear-gradient(19deg, #4A2FA0 0%, #C5404A 100%);
  padding-top: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: 'ubuntu', sans-serif !important;
}

.icon-btn {
  @apply bg-[#12203a] rounded-full p-2 text-white;
}

.status {
  @apply px-3 py-1 rounded-full text-xs;
}

.status.green {
  @apply bg-green-600;
}

.status.yellow {
  @apply bg-yellow-500;
}

.status.red {
  @apply bg-red-600;
}

.badge {
  @apply bg-green-600 px-3 py-1 rounded-full text-xs;
}

.circle {
  @apply h-16 w-16 rounded-full border-4 border-blue-500 flex items-center justify-center text-sm;
}

.full-width {
  width: 100%;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 360px;
}

.time-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.mat-mdc-dialog-container {
  padding: 0 !important;
}

.mat-mdc-form-field-icon-suffix {
  pointer-events: none;
}

/* MAIN NAV BUTTON */
.nav-btn {
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: 13px;
  transition: all 0.15s ease;
  background: #EAEDFF;
  // border:1px solid #d0d5dd;
  color: #374151;
}

.dark .nav-btn {
  background: #111111;
  color: #AEAEAE;
  // border: 1px solid #2D2D2D;
}

.nav-btn:hover {
  background: #2B3990;
  color: #fff;
}

.nav-btn:hover svg {
  color: white;
}

.dark .nav-btn:hover {
  background: #222222;
}

.dark .nav-btn:hover {
  color: white;
}

.nav-btn.active {
  background: #2B3990;
  color: white;
}

.nav-btn.active svg {
  color: white;
}

/* SUBMENU */
.submenu-card {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 200px;
  border-radius: 12px;
  padding: 6px;
  background: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  animation: dropdown 120ms ease-out;
  z-index: 50;
}

.dark .submenu-card {
  background: #0f1c33;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* SUBMENU ITEM */
.submenu-item {
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  transition: background 0.15s ease;

}

.submenu-item:hover {
  background: #2563eb;
  color: white;
}

.submenu-item.active {
  background: #2563eb;
  color: white;
}


/* ANIMATION */
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-4px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.btn-status {
  @apply flex items-center gap-2 text-sm font-medium text-white dark:text-gray-300 rounded-md px-3 py-2
}

.btn-status:hover {
  @apply flex items-center gap-2 text-sm bg-[#2B3990] font-medium text-white dark:text-gray-300 rounded-md px-3 py-2
}

.btn-status.active {
  @apply flex items-center gap-2 text-sm bg-[#2B3990] font-medium text-white dark:text-gray-300 rounded-md px-3 py-2
}

.white-card {
  @apply flex flex-col bg-white border border-gray-300 py-2 px-3 rounded-lg
}

.card-title {
  @apply text-lg font-semibold mb-2 text-center
}

.body-pad {
  @apply p-4 mx-auto md:px-6 md:py-3 xl:px-16
}

// Custom Styles

@layer components {
  .menu-btn {
    @apply rounded-full px-3 py-2 text-sm font-medium bg-white text-[var(--color-stm-primary)] hover:bg-[var(--color-stm-primary)] hover:text-white flex items-center gap-1 transition-colors dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200 border border-gray-300 dark:border-gray-700;
  }

  .menu-icon {
    @apply w-5 h-5 text-[var(--color-stm-primary)] dark:text-gray-400 group-hover:text-white dark:group-hover:text-gray-200 transition-colors;
  }


}

:root {
  --color-stm-primary: #1C3D6F;
  --color-bg-light-gray: #F6F6F6;
  --btn-primary: #2563eb;
  --light-blue: #F3F4FF;
  --green: #0CAD5D;
  --red: #FF5966;
  --yellow: #FFA600;
  --blue: #3B4CCA;
  --color-primary-100: #9CA5E1;
  --color-primary-200: #6A78D2;
  --color-primary-300: #3A4DC2;
  --color-primary-400: #2B3990;
  --color-primary-500: #182052;

}

.dark {
  --color-stm-primary: #4F7FD9;
}

.apexcharts-canvas,
.apexcharts-inner,
.apexcharts-tooltip,
.apexcharts-xaxistooltip {
  overflow: visible !important;
}

.apexcharts-tooltip {
  z-index: 9999 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-30px);
}

.spindle-gauge-wrapper {
  position: relative;
  width: 250px;
}

/* NEEDLE */
.needle {
  position: absolute;
  width: 4px;
  height: 50px;
  background: red;
  bottom: 42px;
  left: 50%;
  transform-origin: bottom center;
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}

/* CENTER DOT */
.needle-center {
  position: absolute;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  bottom: 35px;
  left: calc(50% - 7px);
  z-index: 11;
}

.gauge-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 10px;
  fill: #475569;
}

@keyframes alarmBlink {
  0% {
    background-color: #fee2e2;
  }

  50% {
    background-color: #ef4444;
  }

  100% {
    background-color: #fee2e2;
  }
}

.alarm-blink {
  animation: alarmBlink 1s infinite;
  border: 2px solid #dc2626;
}

.status_dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;

  &.running {
    background-color: #0CAD5D;
  }

  &.idle {
    background-color: #dfb400;
  }

  &.alarm {
    background-color: #fb3748;
  }
}

.border_status {
  border-color: #A3A3A3;
}

.green {
  background-color: #0CAD5D;
}

.yellow {
  background-color: #dfb400;
}

.red {
  background-color: #fb3748;
}

.gray {
  background-color: #6e6e6e;
}

.menu-default {
  background-color: #EAEDFF
}

.border-big {
  border-width: 6px;

  &.green-full {
    border-color: #0CAD5D;
  }

  &.yellow-full {
    border-color: #dfb400;
  }

  &.red-full {
    border-color: #fb3748;
  }

  &.gray-full {
    border-color: #6e6e6e
  }
}

/* Overlay */
.offline-overlay {
  position: absolute;
  inset: 0;
  background: rgba(200, 200, 200, 0.55);
  backdrop-filter: blur(2px);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

/* Center content */
.offline-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #374151;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Optional: fade animation */
.offline-overlay {
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.apexcharts-canvas {
  margin: 0 auto;
}
.chart-align-center{
  margin-left: -2d0px;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
  position: absolute;
}
