<div class="rounded-2xl p-5 bg-white dark:bg-[#0f1c33] shadow">

  <h3 class="font-semibold mb-3">
    {{ machine.machine_name }}
  </h3>

  <img src="/assets/machine.png" class="h-32 mx-auto mb-4"/>

  <div class="grid grid-cols-3 text-center text-sm">

    <div class="text-green-500">
      ▶ Run<br>
      <b>{{ machine.status === 'RUN' ? 'Active' : '00h' }}</b>
    </div>

    <div class="text-yellow-400">
      ⏸ Idle<br>
      <b>{{ machine.status === 'IDLE' ? 'Idle' : '00h' }}</b>
    </div>

    <div class="text-red-500">
      ■ Off<br>
      <b>{{ machine.status === 'STOP' ? 'Stopped' : '00h' }}</b>
    </div>

  </div>

  <div class="mt-3 text-center">
    <span class="px-3 py-1 rounded-full text-xs text-white"
      [ngClass]="{
        'bg-green-600': machine.status === 'RUN',
        'bg-yellow-500': machine.status === 'IDLE',
        'bg-red-600': machine.status === 'STOP'
      }">
      {{ machine.status }}
    </span>
  </div>

</div>
